@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: none; }

body {
  font-family: 'Open Sans', sans-serif; }

body.hidden {
  overflow: hidden; }

button {
  cursor: pointer; }

a {
  padding: 0;
  margin: 0;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1108px;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important; }

.main {
  background: url(../img/main-bg.png);
  background-size: 100%;
  overflow: hidden;
  position: relative; }
  .main .parallax {
    position: absolute;
    left: 0;
    top: 1000px; }
  .main .parallax2 {
    position: absolute;
    right: 0;
    top: 1500px; }
  .main .parallax3 {
    position: absolute;
    left: 0;
    top: 2700px; }
  .main .parallax4 {
    position: absolute;
    right: 0;
    top: 3250px; }

section {
  position: relative;
  z-index: 2; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 130px;
  position: relative; }
  .header .container {
    position: relative;
    z-index: 3; }
  .header .mobile_email {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header .mobile_email img {
      margin-right: 7px; }
  .header .mobile_email:hover {
    color: #FF972C; }
  .header .burgir {
    display: none; }

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/header-bg.png) no-repeat center/cover;
  z-index: 1; }

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #35180D;
  z-index: 2;
  opacity: 0.7; }

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__navbar {
  margin-left: auto; }
  .header__navbar .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__navbar .top .email a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header__navbar .top .email a img {
        margin-right: 7px; }
    .header__navbar .top .email a:hover {
      color: #FF972C; }
    .header__navbar .top .phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header__navbar .top .phone a {
        font-family: 'Open Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 62px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #FFFFFF;
        margin-left: 27px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .header__navbar .top .phone a img {
          margin-right: 10px; }
      .header__navbar .top .phone a:hover {
        color: #FF972C; }
  .header__navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 12px; }
    .header__navbar .nav li {
      margin-left: 40px; }
      .header__navbar .nav li a {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .header__navbar .nav li a:hover {
        color: #FF972C; }
    .header__navbar .nav li:nth-child(1) {
      margin-left: 0; }

.header__logo {
  width: 234px;
  height: 90px; }
  .header__logo img {
    width: 100%; }

.banner {
  position: relative; }
  .banner img {
    width: 100%; }

.banner__content {
  width: 500px;
  position: absolute;
  left: 500px;
  top: 170px; }
  .banner__content p {
    font-weight: bold;
    font-size: 16px;
    line-height: 62px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px; }
  .banner__content h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 62px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 50px; }
  .banner__content .btn {
    width: 285px;
    height: 65px;
    background: -webkit-gradient(linear, left top, left bottom, from(#3B7D13), to(#84BF06));
    background: -webkit-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: -o-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: linear-gradient(180deg, #3B7D13 0%, #84BF06 100%);
    -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 62px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none; }

.about {
  padding-top: 106px; }
  .about .h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 72px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px; }

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about__left {
  width: 443px; }
  .about__left p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 24px; }
  .about__left .btn {
    width: 220px;
    height: 62px;
    background: -webkit-gradient(linear, left top, left bottom, from(#3B7D13), to(#84BF06));
    background: -webkit-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: -o-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: linear-gradient(180deg, #3B7D13 0%, #84BF06 100%);
    -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 62px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF; }

.about__right {
  width: 540px; }
  .about__right .img {
    width: 100%;
    height: 482px;
    position: relative;
    overflow: hidden;
    border-radius: 50px; }
    .about__right .img img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.benefits {
  padding-top: 109px; }
  .benefits .h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 72px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 79px; }

.benefits__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.benefits__item {
  width: 255px;
  margin-right: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px; }
  .benefits__item .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCCB3A), to(#FF972C));
    background: -webkit-linear-gradient(top, #FCCB3A 0%, #FF972C 100%);
    background: -o-linear-gradient(top, #FCCB3A 0%, #FF972C 100%);
    background: linear-gradient(180deg, #FCCB3A 0%, #FF972C 100%);
    border-radius: 50%;
    margin-bottom: 16px; }
  .benefits__item p {
    min-height: 72px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; }

.benefits__item:nth-child(4n) {
  margin-right: 0; }

.products {
  padding-top: 100px;
  padding-bottom: 100px; }
  .products .h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 72px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 79px; }

.products__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.products__item {
  width: 253px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FCCB3A), to(#FF972C));
  background: -webkit-linear-gradient(top, #FCCB3A 0%, #FF972C 100%);
  background: -o-linear-gradient(top, #FCCB3A 0%, #FF972C 100%);
  background: linear-gradient(180deg, #FCCB3A 0%, #FF972C 100%);
  border-radius: 10px;
  margin-right: 32px;
  overflow: hidden;
  margin-bottom: 32px; }
  .products__item .img {
    width: 100%;
    height: 396px;
    border-radius: 4px 4px 40px 40px;
    margin-bottom: 23px; }
  .products__item .title {
    padding: 0 16px 26px 16px; }
  .products__item h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 21px; }
  .products__item .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 2px solid #FFFFFF;
    -webkit-filter: drop-shadow(0px 2px 40px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 2px 40px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .products__item .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#3B7D13), to(#84BF06));
    background: -webkit-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: -o-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: linear-gradient(180deg, #3B7D13 0%, #84BF06 100%);
    -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border: transparent; }

.products__item:nth-child(4n) {
  margin-right: 0; }

.become {
  background: #3B7D13;
  position: relative; }
  .become .h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 72px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 34px; }

.become::after {
  content: "";
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/become-bg.png) no-repeat center/cover; }

.become__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.become__form {
  width: 539px;
  padding-top: 154px;
  padding-bottom: 154px; }
  .become__form .input {
    width: 100%; }
    .become__form .input p {
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #FFFFFF;
      margin-bottom: 6px; }
    .become__form .input input {
      width: 100%;
      height: 52px;
      background: #E9F0FB;
      border-radius: 10px;
      border: none;
      padding: 0 24px;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #323232; }
    .become__form .input input::-webkit-input-placeholder {
      color: #666666; }
    .become__form .input input:-ms-input-placeholder {
      color: #666666; }
    .become__form .input input::-ms-input-placeholder {
      color: #666666; }
    .become__form .input input::placeholder {
      color: #666666; }
    .become__form .input textarea {
      max-width: 100%;
      min-width: 100%;
      max-height: 194px;
      min-height: 194px;
      background: #E9F0FB;
      border-radius: 10px;
      border: none;
      padding: 12px 24px;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #323232; }
  .become__form .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .become__form .box .input {
      width: 255px;
      margin-bottom: 20px; }
  .become__form .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 36px; }
    .become__form .bottom .checkbox {
      width: 282px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .become__form .bottom .checkbox input {
        width: 26px;
        height: 26px;
        margin-right: 22px;
        opacity: 0; }
      .become__form .bottom .checkbox label {
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        cursor: pointer; }
        .become__form .bottom .checkbox label a {
          text-decoration: underline;
          color: #FF972C; }
      .become__form .bottom .checkbox label::after {
        content: "";
        width: 26px;
        height: 26px;
        background: #FFFFFF;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer; }
      .become__form .bottom .checkbox input:checked + label::after {
        background: #fff url(../img/check.svg) no-repeat center;
        background-size: 60%; }
    .become__form .bottom .btn {
      width: 220px;
      height: 62px;
      background: -webkit-gradient(linear, left top, left bottom, from(#3B7D13), to(#84BF06));
      background: -webkit-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
      background: -o-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
      background: linear-gradient(180deg, #3B7D13 0%, #84BF06 100%);
      -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-left: auto;
      border: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 62px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF; }

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px; }
  .crumbs a {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FF972C; }
  .crumbs p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; }
  .crumbs img {
    margin: 0 15px; }

.product {
  padding-top: 90px;
  padding-bottom: 153px; }

.product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product__img {
  width: 321px; }
  .product__img img {
    width: 100%; }

.product__content {
  width: 730px;
  margin-left: 58px; }
  .product__content .h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 34px; }
  .product__content p {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 75px; }
  .product__content .btn {
    width: 305px;
    height: 62px;
    background: -webkit-gradient(linear, left top, left bottom, from(#3B7D13), to(#84BF06));
    background: -webkit-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: -o-linear-gradient(top, #3B7D13 0%, #84BF06 100%);
    background: linear-gradient(180deg, #3B7D13 0%, #84BF06 100%);
    -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 62px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.footer {
  position: relative; }

.footer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/header-bg.png) no-repeat center/cover;
  z-index: 1; }

.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #35180D;
  z-index: 2;
  opacity: 0.7; }

.footer__wrap {
  position: relative;
  z-index: 2; }

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px; }

.footer__logo {
  width: 340px;
  padding-top: 45px; }
  .footer__logo .copy {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 24px; }
    .footer__logo .copy a {
      color: #B7CC2F; }
    .footer__logo .copy a:hover {
      text-decoration: underline; }

.footer__map {
  padding-top: 66px;
  margin-left: 41px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.02em;
  color: #FFFFFF; }
  .footer__map img {
    height: 20px;
    margin-right: 8px;
    margin-top: 4px; }
  .footer__map p {
    width: 227px; }

.footer__email {
  padding-top: 66px;
  margin-left: 30px; }
  .footer__email a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .footer__email a img {
      margin-right: 8px; }
  .footer__email a:hover {
    color: #B7CC2F; }

.footer__phone {
  padding-top: 60px;
  margin-left: auto; }
  .footer__phone a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 6px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .footer__phone a:hover {
    color: #B7CC2F; }

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .footer__bottom .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 28px; }
    .footer__bottom .box .left {
      width: 634px; }
      .footer__bottom .box .left p {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #FFFFFF; }
        .footer__bottom .box .left p a {
          color: #B7CC2F; }
        .footer__bottom .box .left p a:hover {
          text-decoration: underline; }
    .footer__bottom .box .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer__bottom .box .right div a {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .footer__bottom .box .right div a:hover {
        color: #B7CC2F; }
      .footer__bottom .box .right img {
        margin-left: 20px; }

.h2_mobile {
  display: none; }

.besamogas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 9;
  background: #FF972C;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer; }

.besamogas::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px solid #fff;
  border-bottom: 0;
  border-left: 0; }

@media screen and (max-width: 767px) {
  section {
    display: none; }
  .main {
    background-size: 300%; }
  .container {
    padding: 0 16px !important; }
  .header .burgir {
    display: block;
    margin-left: auto; }
    .header .burgir button {
      width: 54px;
      height: 54px;
      background: #FF972C;
      border-radius: 10px;
      border: none;
      position: relative; }
      .header .burgir button span {
        display: block;
        width: 34px;
        height: 4px;
        background-color: #fff;
        border-radius: 3px; }
      .header .burgir button span:nth-child(1) {
        position: absolute;
        top: 30%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .header .burgir button span:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .header .burgir button span:nth-child(3) {
        position: absolute;
        bottom: 30%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
  .header .burgir {
    position: relative;
    z-index: 999; }
    .header .burgir button {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .header .burgir.active button {
    border-radius: 50%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
    .header .burgir.active button span:nth-child(2) {
      display: none; }
    .header .burgir.active button span:nth-child(1) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
    .header .burgir.active button span:nth-child(3) {
      top: 50%;
      bottom: auto;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
  .header {
    height: 260px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 26px; }
  .header__navbar .nav {
    position: fixed;
    top: -102%;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: url(../img/main-bg.png);
    background-size: 200%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    margin-top: 0;
    padding-top: 80px; }
  .header__navbar .nav.active {
    top: 0px;
    opacity: 1; }
  .header__navbar .nav.opacity {
    opacity: 0; }
  .header__navbar .nav li {
    margin-left: 0;
    padding: 16px 24px; }
  .header__navbar .nav li a {
    font-size: 24px; }
  .header__navbar {
    width: 100%;
    margin-left: 0; }
    .header__navbar .email {
      display: none; }
    .header__navbar .top .phone {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header__navbar .top .phone a {
        width: 175px;
        margin-left: 0 !important;
        line-height: 20px;
        margin-bottom: 8px; }
  .header__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px; }
    .header__logo img {
      width: 188px; }
  .header .mobile_email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 23px; }
  .parallax, .parallax2, .parallax3, .parallax4 {
    display: none; }
  .banner {
    display: block;
    height: 430px;
    background: #FDCC3A;
    position: relative; }
    .banner img {
      width: 200%;
      position: absolute;
      top: 0;
      right: -20px; }
  .banner__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 16px;
    padding-bottom: 25px;
    top: auto;
    text-align: center; }
  .banner__content p {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    padding: 0 20px; }
  .banner__content h1 {
    font-weight: 300;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 18px; }
  .banner__content .btn {
    margin: 0 auto;
    width: 222px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px; }
  .about {
    display: block;
    padding-top: 18px; }
  .about .h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 62px;
    margin-bottom: 18px; }
  .about__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about__right {
    width: 100%;
    height: 256px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 40px; }
    .about__right .img {
      height: 256px; }
  .about__left {
    width: 100%; }
    .about__left p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px; }
    .about__left .btn {
      margin: 0 auto;
      margin-top: 26px; }
  .benefits {
    display: block;
    padding-top: 47px; }
    .benefits .h2 {
      font-weight: 300;
      font-size: 36px;
      line-height: 62px;
      margin-bottom: 35px; }
  .benefits__box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .benefits__item {
    width: 132px;
    margin: 0;
    margin-bottom: 35px; }
    .benefits__item .img {
      width: 77px;
      height: 77px; }
      .benefits__item .img img {
        height: 40px; }
    .benefits__item p {
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      min-height: 38px; }
  .products {
    display: block; }
    .products .h2 {
      font-weight: 300;
      font-size: 36px;
      line-height: 62px;
      margin-bottom: 36px; }
  .products__box {
    padding: 0 15px; }
  .products__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px; }
    .products__item .img {
      height: 396px;
      overflow: hidden; }
      .products__item .img img {
        width: 100%; }
  .products__item h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px; }
  .products__item .btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .become {
    display: block;
    padding: 0 16px; }
  .become::after {
    display: none; }
  .become__form {
    width: 100%;
    padding-top: 37px;
    padding-bottom: 49px; }
    .become__form .h2 {
      font-weight: 300;
      font-size: 36px;
      line-height: 62px;
      margin-bottom: 0px; }
  .become__form .bottom .checkbox label {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding-right: 23px; }
  .become__form .box .input {
    width: 100%; }
  .become__form .bottom {
    margin-top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .become__form .bottom .btn {
    margin: 0 auto;
    margin-top: 30px; }
  .map {
    display: block; }
    .map iframe {
      height: 332px; }
  .product {
    display: block;
    padding-top: 37px;
    padding-bottom: 44px; }
  .crumbs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 24px; }
  .crumbs a {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px; }
  .crumbs p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px; }
  .product__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .product__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px; }
    .product__img img {
      max-width: 196px;
      width: 90%; }
  .product__content {
    margin-left: 0;
    width: 100%; }
  .product__content .h2 {
    display: none; }
  .h2_mobile {
    display: block; }
  .product .h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 37px; }
  .product__content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px; }
  .product__content .btn {
    width: 100%; }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 21px; }
  .footer__bottom .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__bottom .box .left {
      width: 100%;
      margin-bottom: 30px; }
      .footer__bottom .box .left p {
        font-size: 12px;
        line-height: 16px; }
    .footer__bottom .box .right {
      width: 100%; }
  .footer__logo {
    width: 100%; }
    .footer__logo img {
      width: 234px; }
  .footer__logo .copy {
    font-size: 12px;
    line-height: 21px;
    margin-top: 20px; }
  .footer__map {
    margin-left: 0;
    padding-top: 32px; }
    .footer__map p {
      font-size: 14px;
      line-height: 24px; }
  .footer__email {
    padding-top: 21px;
    margin-left: 0; }
    .footer__email p {
      font-size: 14px;
      line-height: 24px; }
  .footer__phone {
    margin-left: 0;
    padding-top: 21px;
    position: relative; }
    .footer__phone a:last-child {
      display: none; }
  .footer__phone::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .footer__phone::before {
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 16px;
    left: 145px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top: 0;
    border-right: 0; }
  .footer__phone.active::after, .footer__phone.active::before {
    display: none; }
  .footer__phone.active a:last-child {
    display: block; } }
